* {
    box-sizing: border-box;
}

body {
    background: #3d4b58;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.seat {
    background-color: #5a6774;
    height: 20px;
    width: 27px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.occupation {
    color: #f8f8f8 !important;
    margin: 5px 5px;
}

.seat.selected {
    background-color: aqua;
}

.seat.occupied {
    background-color: #f8f8f8;
}

.selected-list {
    background-color: rgb(44, 59, 73);
    padding: 10px 10px;
    border-radius: 5px;
    color: #5a6774;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.selected-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.screen {
    background-color: aliceblue;
    margin: 15px;
    height: 180px;
    width: 300px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.firstrow {
    display: flex;
}

.row {
    display: flex;
}