body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 221, 221);
}

.wrapper {
    margin-top: 3%;
    margin-bottom: 3%;
    top: 5%;
    left: 50%;
    position: absolute;
    display: block;
    width: 50%;
    height: auto;
    transform: translate(-50%);
    border: 1px solid gray;
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.input-section .label {
    margin: 2%;
}

.input-section .input-field {
    margin: 1%;
}

.shade-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    padding: 3%;
}

.shade-box .element {
    height: 50px;
    width: 150px;
    text-wrap: wrap;
    padding: 3%;
    align-content: center;
}

